$colors: (
  transparent: transparent,
  current: currentColor,
  white: #ffffff,
  moss: #5b623a,
  valleymoss: #897e45,
  yosemiteivory: #edd9b7,
  meadow: #c46d52,
  sunshine: #f1ba42,
  cream: #fbf1e5,
  yellow: #ffbd59,
  fadedgreen: #eef6ec
);

@function color($key) {
  @return map-get($colors, $key);
}
